@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@200;600&family=Nunito:wght@200;300;400;700&family=Open+Sans&display=swap");
:root {
  --font: "Nunito", sans-serif;
  --font2: "Montserrat", sans-serif;
  --fon3: "Lato", sans-serif;
  --fon4: "Open Sans", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* zoom: 97%; */
}

body {
  background: url(image/1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  min-height: 100vh;
  font-family: "Nunito", sans-serif;
  color: #fff;
  transition: 0.5s;
  zoom: 85%;
}
body.display {
  transition: 0.5s;
  transform: translateX(-200px);
}

.container {
  max-width: 1300px;
  margin: auto;
  padding: 0 40px;
}

/* Header */
.header {
  height: 20vh;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header .logo-name > span {
  font-size: 1.4rem;
  font-family: var(--font);
  font-weight: 600;
}

.btn {
  border: none;
  outline: none;
  color: #fff;
  background: transparent;
  font-size: 1.1rem;
  border: 1px solid #fff;
  padding: 8px 30px;
  font-family: var(--font);
  font-weight: 500;
  transition: all 0.3s;
}
.btn:hover {
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

.header .bars {
  margin: 0;
  display: none;
}

/* Navbar */
.nav {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #333333e0;
  color: #fff;
  width: 200px;
  height: 105%;
  transform: translateX(100%);
  text-align: center;
  display: none;
}
.display {
  display: block;
}
.list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 80%;
}
.list li {
  list-style-type: none;
  font-size: 1.3rem;
  padding: 20px 0;
  transition: all 0.3s;
}
.list li:hover {
  background-color: rgba(255, 255, 255, 0.425);
  cursor: pointer;
}
.list li a {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}
.logo {
  width: 70px;
  height: 70px;
  margin: 70px auto 0;
  /* background-color: #fff; */
  border: 3px solid;
  border-radius: 50%;
}

.logo img {
  width: 100%;
  height: 100%;
}

/* Section : Welcome */
.welcome {
  padding: 40px 0 55px;
}

.welcome .heading {
  line-height: 1.1;
  font-size: 5rem;
  width: 459px;
  letter-spacing: 8px;
  margin-left: 10px;
  font-family: var(--fon2);
  margin-bottom: 60px;
}

.welcome .lead {
  width: 400px;
  color: #ffffffba;
  margin-bottom: 60px;
  line-height: 1.8;
}

.buttons .sign {
  display: none;
}
/*Section : Data Herbs */
/* When have active class */
.data-herbs.active {
  position: relative;
  z-index: 1;
}
.data-herbs.active .item {
  border-top: none;
}
.data-herbs.active .item:hover {
  background-color: rgba(0, 0, 0, 0.397);
}

.herb-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item {
  border-top: 1px solid rgba(255, 255, 255, 0.356);
  /* border: 1px solid; */
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  padding: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.item:hover {
  background-color: rgba(255, 255, 255, 0.397);
  transform: scale(1.1);
}
/* Modal Sign Up */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  place-content: center;
  background-color: rgba(58, 88, 87, 0.527);
  display: none;
  opacity: 0;
  animation: opacity 0.9s ease forwards;
}
.modal-container.show {
  display: grid;
}
.modal {
  margin: 300px auto;
  padding: 60px 30px 30px 30px;
  border-radius: 5px;
  width: 90%;
  color: #000;
  background-color: #fff;
  position: relative;
}
.close {
  position: absolute;
  right: 25px;
  top: 20px;
  cursor: pointer;
}
.modal h3 {
  font-size: 3rem;
}
.modal p {
  font-size: 1.4rem;
  padding: 20px 0;
  color: #a1a1a1;
}
.form-control {
  width: 100%;
  /* border: 1px solid #a1a1a1; */
  border-radius: 4px;
  padding: 5px 0;
  margin-bottom: 40px;
  background-color: transparent;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}
.form-control i {
  padding: 10px 0 10px 10px;
  font-size: 1.3rem;
  color: #a1a1a1;
}
.form-control input {
  width: 80%;
  padding: 5px 5px 5px 20px;
  font-size: 1.1rem;
  border: none;
  outline: none;
}
.btn-re {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  font-size: 1.3rem;
  font-family: var(--font2);
  font-weight: 600;
  background: linear-gradient(to right, #33bff7, #1c83c9, #33bff7);
  background-size: 200%;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-bottom: 30px;
  transition: all 1s ease;
  border-radius: 3px;
}
.btn-re:hover {
  animation: color 4s linear forwards infinite;
}
/* SideBar  */
.aside {
  width: 70px;
  background-color: rgba(51, 51, 51, 0.7);
  height: 105%;
  /* display: none; */
  position: fixed;
  top: 0;
  right: 0;
}

.bars {
  width: 35px;
  margin: 62px auto;
  cursor: pointer;
  opacity: 0.8;
}
.bars div {
  width: 35px;
  height: 2px;
  background-color: #fff;
  margin: 8px;
}
.line3 {
  width: 50% !important;
}
/* Social media */
.social {
  text-align: center;
  margin-top: 110px;
  padding-bottom: 62px;
  opacity: 0.8;
}
.media {
  width: 40px;
  height: 40px;
  margin: 30px auto;
  border: 1px solid rgb(255, 255, 255, 0.4);
  border-radius: 50%;
  padding: 7px;
  cursor: pointer;
}
.media:hover {
  background-color: rgb(38, 129, 190);
}

.social .media a {
  color: #fff;
}
.social .media i {
  font-size: 1.1rem;
}
/* Line */
.line {
  width: 50px;
  height: 3px;
  background-color: #dddd;
  margin: 0 auto 0 auto;
  opacity: 0.8;
}
.explore {
  display: grid;
  place-content: center;
  height: 224px;
}
.explore p {
  transform: rotate(90deg);
  font-size: 1.5rem;
  color: #acacaca1;
  font-weight: 800;
  letter-spacing: 5px;
  /* padding: 0 0px 0 30px; */
}
.social2 {
  opacity: 0.8;
}
.social2 .media {
  text-align: center;
  margin: 0 auto 30px;
  padding: 8px;
}
.social2 .media a {
  color: #fff;
}

/* Section: Herbs */
.herbs {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 115%;
  background-color: #fff;
  color: #000;
  clip-path: circle(5% at -10% -10%);
  animation: clip 1s linear forwards;
  transition: all 2s ease;
  display: none;
}
.herbs.active {
  /* clip-path: circle(50%); */
  display: block;
}

.herbs .data {
  display: flex;
}
.herb-show {
  padding: 100px 0 0 0;
  box-shadow: 0 0 400px 0 rgb(0 0 0 / 51%);
  position: relative;
}
.data .img-herb {
  flex: 1;
  display: grid;
  place-content: center;
  transform: scale(1.1);
}
.data .img-herb img {
  box-shadow: 2px 12px 139px 0 rgb(0 0 0 / 51%);
  width: 70%;
  margin: auto;
}
.data .text-herb {
  flex: 1;
}
.text-herb h4 {
  font-size: 2.5rem;
  margin-bottom: 40px;
}

.text-herb p {
  font-size: 1.3rem;
  color: #2e2e2e;
  line-height: 1.7;
}
/* Arrow Back */

.back {
  position: absolute;
  width: 38px;
  top: 16px;
  left: 66px;
  cursor: pointer;
  z-index: 999;
}
.back img {
  width: 100%;
}

/* Background Each herbs */

/* Animation collection */
@keyframes clip {
  form {
    clip-path: circle(1% at -10% 0%);
  }
  to {
    clip-path: circle(100%);
  }
}
@keyframes close {
  form {
    clip-path: circle(100%);
  }
  to {
    clip-path: circle(1% at -10% 0%);
  }
}
@keyframes color {
  from {
    background-position: 0%;
  }
  to {
    background-position: 200%;
  }
}
@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Add media Query Responsive*/
@media screen and (max-width: 1207px) {
  .container {
    max-width: 1200px;
    padding: 0 80px;
  }
}
/* Tablet */
@media screen and (max-width: 854px) {
  body {
    zoom: 100%;
    overflow: scroll;
  }

  .nav {
    height: 100%;
  }

  .list {
    height: 60%;
  }
  .list li {
    font-size: 1rem;
  }

  /* Herb item box */
  .item {
    border-top: 1px solid rgba(255, 255, 255, 0.356);
    width: 17%;
    font-size: 1.3rem;
    padding: 15px 0;
  }
  .herb-show {
    padding: 60px 0px 0px;
  }
  .text-herb h4 {
    font-size: 1.5rem;
  }
  .text-herb p {
    font-size: 0.9rem;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .data .img-herb img {
    width: 82%;
  }
  .back {
    position: absolute;
    width: 20px;
    top: 12px;
    left: 17px;
    cursor: pointer;
  }
  /* Sign up Modal */
  .modal h3 {
    font-size: 2.5rem;
  }
  .modal p {
    font-size: 1.3rem;
  }
  .form-control {
    padding: 3px 0;
  }
  .form-control input {
    font-size: 1rem;
  }
  .btn-re {
    padding: 9px 0;
    border-radius: 4px;
    font-size: 1.4rem;
    animation: color 1s linear forwards infinite;
  }
}
/* Tablet  */
@media screen and (max-width: 678px) {
  .nav {
    width: 280px;
  }
  body.display {
    transform: translateX(-280px);
    overflow: hidden;
  }

  /* Herb item box */
  .herb-box {
    flex-wrap: wrap;
  }
  .header .bars {
    display: block;
  }
  .header .bars div {
    width: 25px;
    height: 2px;
    background-color: #fff;
    margin: 8px;
  }
  .sign-up {
    display: none;
  }
  .buttons {
    display: flex;
    justify-content: space-between;
  }
  .buttons .sign {
    display: inline;
    /* margin-left: 100px; */
  }
  /* Aside */
  .aside {
    display: none;
  }
  /* Herb */
  .herb-show {
    padding: 10px 0px 0px;
  }
  .data {
    flex-direction: column;
  }
  .data .img-herb {
    transform: scale(1);
  }
  .data .img-herb img {
    width: 50%;
  }
  .text-herb {
    padding: 30px;
  }
  /* item */
  .item {
    border-top: 1px solid rgba(255, 255, 255, 0.356);
    border-bottom: 1px solid rgba(255, 255, 255, 0.356);
    width: 50%;
    font-size: 1.3rem;
    padding: 15px 0;
  }
  /* herbs Box */
  .data-herbs.active {
    position: fixed;
    right: -6px;
    top: 0;
    width: 140px;
  }
  .data-herbs.active .container {
    padding: 0;
  }
  .data-herbs.active .herb-box {
    background-color: rgba(0, 195, 255, 0.596);
    flex-direction: column;
  }
  .data-herbs.active .item {
    border-top: none;
    width: 100%;
    font-size: 0.7rem;
  }
  .data-herbs.active .item span {
    padding: 10px;
  }
  .data-herbs.active .item:hover {
    transform: scale(1);
  }
  /* Sign up Modal */
  .modal h3 {
    font-size: 2rem;
  }
  .modal p {
    font-size: 1rem;
  }
  .form-control {
    padding: 0px 0;
  }
  .form-control input {
    font-size: 0.9rem;
  }
  .btn-re {
    padding: 9px 0;
    border-radius: 4px;
    font-size: 1.1rem;
    animation: color 1s linear forwards infinite;
  }
}
/* Smart Phone */
@media screen and (max-width: 511px) {
  /* .nav {
    width: 500px%;
  } */
  .container {
    padding: 0 20px;
    max-width: 90%;
  }
  /* Welcome */
  .welcome > p {
    font-size: 0.9rem;
  }
  .heading {
    width: 231px !important;
    font-size: 3rem !important;
    margin-bottom: 30px;
  }
  .lead {
    width: 250px !important;
    font-size: 0.8rem !important;
    margin-bottom: 30px;
  }
  .btn {
    font-size: 0.8rem;
  }
  /* Herb */
  .text-herb h4 {
    font-size: 1.3rem;
    margin-bottom: 10px;
  }
  .text-herb p {
    font-size: 0.7rem;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  /* Herb item box */
  .herb-box {
    flex-wrap: wrap;
  }
  .item {
    border-top: 1px solid rgba(255, 255, 255, 0.356);
    width: 50%;
    font-size: 0.8rem;
    padding: 15px 0;
  }
  .data-herbs.active {
    position: fixed;
    right: -6px;
    top: 0;
    width: 120px;
  }
  .data-herbs.active .herb-box {
    background-color: rgba(0, 195, 255, 0.596);
    flex-direction: column;
  }
  .data-herbs.active .item {
    border-top: none;
    width: 100%;
    font-size: 0.7rem;
  }
  .data-herbs.active .item span {
    padding: 10px;
  }
  .data-herbs.active .item:hover {
    transform: scale(1);
  }
  /* Sign up Modal */
  .modal h3 {
    font-size: 2rem;
  }
  .modal p {
    font-size: 1rem;
  }
  .form-control {
    padding: 0px 0;
  }
  .form-control input {
    font-size: 0.9rem;
  }
  .btn-re {
    padding: 9px 0;
    border-radius: 4px;
    font-size: 1.1rem;
    animation: color 1s linear forwards infinite;
  }
}
