@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@200&family=Nunito:wght@200;300;400;700&family=Open+Sans&display=swap");
:root {
  --font: "Nunito", sans-serif;
  --font2: "Montserrat", sans-serif;
  --fon3: "Lato", sans-serif;
  --fon4: "Open Sans", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  zoom: 97%;
}

body {
  background: url(image/1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* overflow: hidden; */
  min-height: 100vh;
  font-family: "Nunito", sans-serif;
  color: #fff;
}

.container {
  max-width: 1300px;
  margin: auto;
  padding: 0 40px;
}

/* Header */
.header {
  height: 20vh;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header .logo-name > span {
  font-size: 1.4rem;
  font-family: var(--font);
  font-weight: 600;
}

.btn {
  border: none;
  outline: none;
  color: #fff;
  background: transparent;
  font-size: 1.1rem;
  border: 1px solid #fff;
  padding: 8px 30px;
  font-family: var(--font2);
}

/* Navbar */
.nav {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #333;
  color: #fff;
  width: 300px;
  height: 100vh;
  text-align: center;
  display: none;
}
.list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 80%;
}
.list li {
  list-style-type: none;
  font-size: 1.5rem;
  padding: 20px 0;
}
.list li a {
  color: #fff;
  text-decoration: none;
}
.logo {
  width: 70px;
  height: 70px;
  margin: 70px auto 0;
  background-color: #fff;
  border-radius: 50%;
}

.logo img {
  width: 100%;
  height: 100%;
}

/* Section : Welcome */
.welcome {
  padding: 40px 0 55px;
}

.welcome .heading {
  line-height: 1.1;
  font-size: 5rem;
  width: 459px;
  letter-spacing: 8px;
  margin-left: 10px;
  font-family: var(--fon2);
  margin-bottom: 60px;
}

.welcome .lead {
  width: 400px;
  color: #ffffffba;
  margin-bottom: 60px;
  line-height: 1.8;
}

/*Section : Data Herbs */
.herb-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item {
  border-top: 1px solid rgba(255, 255, 255, 0.356);
  /* border: 1px solid; */
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  padding: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.item:hover {
  background-color: rgba(255, 255, 255, 0.397);
  transform: scale(1.1);
}

/* SideBar  */
.aside {
  width: 70px;
  background-color: rgba(51, 51, 51, 0.7);
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
}

.bars {
  width: 35px;
  margin: 62px auto;
  cursor: pointer;
  opacity: 0.8;
}
.bars div {
  width: 35px;
  height: 2px;
  background-color: #fff;
  margin: 8px;
}
.line3 {
  width: 50% !important;
}
/* Social media */
.social {
  text-align: center;
  margin-top: 110px;
  padding-bottom: 62px;
  opacity: 0.8;
}
.media {
  width: 40px;
  height: 40px;
  margin: 30px auto;
  border: 1px solid rgb(255, 255, 255, 0.4);
  border-radius: 50%;
  padding: 7px;
}
.social .media a {
  color: #fff;
}
.social .media i {
  font-size: 1.1rem;
}
/* Line */
.line {
  width: 50px;
  height: 3px;
  background-color: #dddd;
  margin: 0 auto 0 auto;
  opacity: 0.8;
}
.explore {
  display: grid;
  place-content: center;
  height: 224px;
}
.explore p {
  transform: rotate(90deg);
  font-size: 1.5rem;
  color: #acacaca1;
  font-weight: 800;
  letter-spacing: 5px;
  /* padding: 0 0px 0 30px; */
}
.social2 {
  opacity: 0.8;
}
.social2 .media {
  text-align: center;
  margin: 0 auto 30px;
  padding: 8px;
}
.social2 .media a {
  color: #fff;
}
